<footer class="footer">
    <div class="footer-top">
        <div class="footer-section">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Safety Information</a></li>
                <li><a href="#">Cancellation Options</a></li>
                <li><a href="#">Our COVID-19 Response</a></li>
                <li><a href="#">Supporting People with Disabilities</a></li>
                <li><a href="#">Report a Neighborhood Concern</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Community</h3>
            <ul>
                <li><a href="#">Airbnb.org: disaster relief housing</a></li>
                <li><a href="#">Combating Discrimination</a></li>
                <li><a href="#">Invite Friends</a></li>
                <li><a href="#">Gift Cards</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Hosting</h3>
            <ul>
                <li><a href="#">Airbnb Your Home</a></li>
                <li><a href="#">Host an Online Experience</a></li>
                <li><a href="#">Responsible Hosting</a></li>
                <li><a href="#">Resource Center</a></li>
                <li><a href="#">Community Center</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>About</h3>
            <ul>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Learn about new features</a></li>
                <li><a href="#">Letter from our founders</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Airbnb Luxe</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div>
            &copy; 2025 YourSiteName &middot;
            <a href="#">Privacy</a> &middot;
            <a href="#">Terms</a> &middot;
            <a href="#">Sitemap</a> &middot;
            <a href="#">Company details</a>
        </div>
        <div class="footer-media">
            <a href="#"><span>&#127760;</span> English (IN)</a>
            <a href="#"><span>&#8377;</span> INR</a>
            <a href="#" aria-label="Facebook" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Twitter" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="Instagram" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="LinkedIn" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" aria-label="YouTube" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>